# OllamPlus - Variables de entorno

# Servidor
PORT=3000

# Ollama
OLLAMA_HOST=http://localhost:11434

# Base de datos
DB_PATH=./data/ollama.db

# Entorno (development | production)
NODE_ENV=development
